.modal-body{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.form-control{
  margin-left: 2.5%;
  margin-right: 2.5%;
  width:95%;
}
.form-label{
  margin-left: 10px;
}
.btn{
  margin-left: 10px;
  margin-bottom: 10px;;
}

.margined-label {
  margin-right: 10px;
  margin-left: 10px;
}